<%- include('./fragments/header.ejs') %>
    <main>
        <h2>Strona główna</h2>
        <% if(!loggedUser) { %>
            <div id="login">
                <h5>Logowanie</h5>
                <form method="post" action="/login" novalidate>
                    <label for="login">Login:</label>
                    <input type="text" id="login" name="login">

                    <label for="loginPassword">Hasło:</label>
                    <input type="password" id="loginPassword" name="password">

                    <input type="submit" value="Zaloguj się">
                    <span id="loginErrors"><%= loginError ? loginError : ''%></span>
                </form>
            </div>
        <% } else { %>
        <span>Jesteś zalogowany jako: <%=loggedUser.login%></span>
        <a href="/logout">Wyloguj się</a>
        <% } %>
    </main>
<%- include('./fragments/footer.ejs') %>