<%- include('./../fragments/header.ejs') %>
    <main>
        <h2>Szczegóły toru</h2>
        <form class="form">
            <label for="lokalizacja">Lokalizacja</label>
            <input type="text" name="lokalizacja" id="lokalizacja" value="Circuit de Spa-Francorchamps" disabled />
            <span id="errorData" class="errors-text"></span>

            <label for="dlugosc">Długość</label>
            <input type="number" name="dlugosc" id="dlugosc" value="7.004" disabled />
            <span id="errorData" class="errors-text"></span>

            <div class="form-buttons">
                <a href="" class="list-actions-button-edit">Edytuj</a>
                <a href="" class="list-actions-button-details">Powrót</a>
            </div>
        </form>
        <h2>Wyścigi na torze</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Data</th>
                <th>Okrążenia</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>29 sierpnia</td>
                <td>44</td>
            </tr>
            </tbody>
        </table>
    </main>
<%- include('./../fragments/footer.ejs') %>