<%- include('./../fragments/header.ejs') %>
    <main>
        <h2>Nowy tor</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            <label for="lokalizacja">Lokalizacja<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="lokalizacja" id="lokalizacja" placeholder="2-60 znaków" />
            <span id="errorLokalizacja" class="errors-text"></span>

            <label for="dlugosc">Długość<abbr title="required" aria-label="required">*</abbr></label>
            <input type="number" name="dlugosc" id="dlugosc" placeholder="km" />
            <span id="errorDlugosc" class="errors-text"></span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" class="form-button-submit" value="Dodaj">
                <a href="" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </main>
<%- include('./../fragments/footer.ejs') %>