<%- include('./../fragments/header.ejs') %>
    <main>
        <h2>Nowy wyścig</h2>
        <form class="form" novalidate onsubmit="return validateForm();">
            <label for="data">Data<abbr title="required" aria-label="required">*</abbr></label>
            <input type="date" name="data" id="data" />
            <span id="errorData" class="errors-text"></span>

            <label for="okrazenia">Okrążenia<abbr title="required" aria-label="required">*</abbr></label>
            <input type="text" name="okrazenia" id="okrazenia" placeholder="ilość" />
            <span id="errorOkrazenia" class="errors-text"></span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input type="submit" class="form-button-submit" value="Dodaj">
                <a href="" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </main>
<%- include('./../fragments/footer.ejs') %>