<%- include('./../fragments/header.ejs') %>
    <main>
        <h2>Wyścigi</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Data</th>
                <th>Okrążenia</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>29 sierpnia</td>
                <td>44</td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="" class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="" class="list-actions-button-delete">Usuń</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <p><a href="" class="button-add">Dodaj nowy tor</a></p>
    </main>
<%- include('./../fragments/footer.ejs') %>